@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto:wght@400;500;700&display=swap');
@import "reset.css";

/* todoApp은 자바스크립트로 삽입하는 것도 괜찮아보임.*/
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    position: relative;    
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  position: relative;
  z-index: 1;
  color:white;

}
.center-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-clock {
    font-family: 'Roboto', sans-serif;
    font-size: 160px;
    font-weight: 500;
    text-align: center;
    
}
.login-form {
    margin-top: 20px;
}
.login-form input[type="text"] {
    border: none;
    border-bottom: 2px solid white;
    font-size:40px;
    width: 260px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    transform: translateX(20px);
    background: none;
    color: white;
}
.login-form input::placeholder {
    color:white;
}
.login-form input[type="submit"] {
    visibility: hidden;
    
}
.hidden {
    display: none;
}
.greeting {
    margin-top:20px;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 500;
}
.todo-form {
    margin-top: 20px;
}
.todo-form input {
    border: none;
    font-size: 20px;
    color: white;
    background:none;
}
.todo-form input::placeholder{
    color: white;
}
.todo-list {
    margin-top: 20px;
    width: 220px;
    height: 150px;
    line-height: 150%;
    overflow-y: auto;
}
.todo-list::-webkit-scrollbar {
	display:none;
}
.todo-list li{
    display: flex;
    align-items: center;
}
.todo-list button {
    border: none;
    margin-left: 10px;
    color: white;
    font-weight: 500;
    background: none;
}
.quotes {
    position: absolute;
    bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}
.quotes span:first-child {
    margin-bottom: 10px;
    font-size: 20px;
}
.weather {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
}
img {
    position: absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    z-index: 0;

}